*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #23242a;
}
.box
{
    position: relative;
    width: 380px;
    height: 420px; 
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;

}
.box::after
{
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
     inset: 2px;
     z-index:2; 
    background: #141413;
    border-radius: 8px;
    padding:50px 40px;
    
}
form
{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: aqua;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline:none;
    color: #ebecf3;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.05em;
    z-index: 2;

   
}
.inputbox span
{
    position: absolute;
    left: 0;
     padding: 20px 0px 10px; 
     font-size: 1em;
     color: #8f8f8f;
     pointer-events: none;
     letter-spacing: 0.05em;
     transition: 0.5s;
}

.inputbox input:focus~span
{
    color: #45f3ff;
    transform: translateX(-10px) translatey(-30px);
    font-size: 0.75em;
    
}
.inputbox i
{
    position: absolute;
    background: #45f3ff;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    /* z-index: 1;  */
}
.inputbox input:focus~i
{
    height: 40px;
}
input[type="submit"]
{
    border:none;
    outline: none;
    width: 100px;
    padding: 11px;
    background: #45f3ff;
    margin-top: 30px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

    
}
input[type="submit"]:active
{
    opacity: 0.8;
}
input[type="reset"]
{
    border:none;
    outline: none;
    width: 100px;
    padding: 11px;
    background: #45f3ff;
    margin-top: 30px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
   position: absolute;
   right: 10;
   bottom: 0;

    
}